$mobile-mq: 380px;
$tablet-mq: 960px;
$pc-mq: 1240px;
$app-red: #F36770;
$app-blue: #4990E2;
$app-yellow: #F1A81D;
$orchid-purple: #000034;
$primary-green: #5ACE9F;
$weight-boldest: 900;
$weight-primary: 800;
$weight-secondary: 400;
$weight-tertiary: 200i;
$color-darker: #393960;
$color-dark: #535569;
$color-light: #8c8c8c;
$base-background: #FBFBFB;